@import "tailwindcss";

/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: rgb(34, 34, 34);
  background-attachment: fixed;
  background-size: cover;
}
